.sideMenuTab {
  border: 1px solid rgb(255, 255, 255, 0.1);
  border-radius: 8px;
}
.icon-box {
  background-color: #222831;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
}
.sideMenu-bar {
  position: sticky;
  top: 0%;
  background-color: var(--color-dark-blue);
  display: inline-block !important;
  height: 100vh;
}
.sideMenuTab:hover {
  color: #8750f7;
}
.icon-box:hover {
  background-color: #8750f7;
}
.sideMenu-text {
  font-size: 16px !important;
  letter-spacing: 8% !important;
}
@media screen and (max-width: 768px) {
  .sideMenu-bar {
    display: none !important;
  }
}
